.Header-Wrapper {
    text-align: center;
    background-color: #9e9e9e;
}

.Header-Text {
    color: white;
    font-family: 'Comfortaa';
    font-size: 4em;
    line-height: 3em;
}

@media (min-width: 426px) and (max-width: 768px) {
    .Header-Text {
        font-size: 3em;
    }
}

@media (max-width: 425px) {
    .Header-Text {
        font-size: 2em;
    }
}