.HeaderComponent {
    text-align: right;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.Header {
    margin: 5px 20px;
    animation: text-color 10s infinite;
}

@keyframes text-color {
    0% { color: #000; }
    20% { color: #3fa3ff }
    40% { color: #189014 }
    50% { color: #d3d418 }
    60% { color: #b64639 }
    80% { color: #902fa9 }
    100% { color: #000}
}

@-webkit-keyframes text-color {
    0% { color: #000; }
    20% { color: #3fa3ff }
    40% { color: #189014 }
    50% { color: #d3d418 }
    60% { color: #b64639 }
    80% { color: #902fa9 }
    100% { color: #000}
}