@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
//Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body {
    margin-left: calc(100vw - 100%);
    height: 100vh;
    background: no-repeat center #17282b;
background: no-repeat center -webkit-linear-gradient(bottom left, #080808 0%, #17282b 40%, #035c66 100%) fixed;
background: no-repeat center -o-linear-gradient(bottom left, #080808 0%, #17282b 40%, #035c66 100%) fixed;
background: no-repeat center linear-gradient(to top right, #080808 0%, #17282b 40%, #035c66 100%) fixed;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ae2cf', endColorstr='#035c66',GradientType=1 ) fixed;
}

.cursor-pointer {
    cursor: pointer;
}