@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
//Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
//Utilites
*/
.u-cursorPointer {
    cursor: pointer;
}

.u-textCrossed {
    text-decoration: line-through;
}

/*
//Global styles
*/
.row {
    margin: 0;
}

.tile {
    border-bottom: 10px solid #888;
    color: #000;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    padding: 0; 
}

.form {
    margin: 15px 0;
}

.form > * {
     border-radius: 0;
     margin: 5px 0;
}

.text-input:focus {
    animation: input-border 5s infinite;
}

.text-input:invalid:focus {
    animation: invalid-input-border 5s infinite;
}

/* 
//Animations 
*/
@keyframes invalid-input-border {
    0% { border: 2px solid #e70000; }
    30% { border: 2px solid #ffb400 }
    40% { border: 2px solid #ffdb00 }
    50% { border: 2px solid #ffb400 }
    100% { border: 2px solid #e70000}
}

@-webkit-keyframes invalid-input-border {
    0% { border: 2px solid #e70000; }
    30% { border: 2px solid #ffb400 }
    40% { border: 2px solid #ffdb00 }
    50% { border: 2px solid #ffb400 }
    100% { border: 2px solid #e70000}
}

@keyframes input-border {
    0% { border: 2px solid #68ccd4; }
    30% { border: 2px solid #80f9bf }
    60% { border: 2px solid #83dd89 }
    90% { border: 2px solid #80f9bf }
    100% { border: 2px solid #68ccd4}
}

@-webkit-keyframes input-border {
    0% { border: 2px solid #68ccd4; }
    30% { border: 2px solid #80f9bf }
    60% { border: 2px solid #83dd89 }
    90% { border: 2px solid #80f9bf }
    100% { border: 2px solid #68ccd4}
}