<div class="row">
        <task-group ng-repeat="taskGroup in $ctrl.taskGroups track by $index" 
                get-new-id="$ctrl.getNewId()"
                add-task="$ctrl.addTask" 
                task-groups="$ctrl.taskGroups" 
                task-group="taskGroup"
                new-task="$ctrl.newTask"
                delete-task="$ctrl.deleteTask"
                delete-group="$ctrl.deleteGroup"
                tasks="$ctrl.tasks"></task-group>
                <div class="tile col-sm-4 col-md-3">
                        <form name="newGroup" class="form add-group" 
                                ng-submit="$ctrl.taskGroups.push(newGroupName)">
                                <label for="newGroup-input">New group name</label>
                                <input name="input" id="newGroup-input" 
                                        required type="text" 
                                        class="text-input form-control" 
                                        minlength="3" ng-model="newGroupName" 
                                        placeholder="Min 3 letters">
                                <button ng-disabled="newGroup.$invalid" 
                                        class="btn btn-default" type="submit">Add group</button>
                        </form>
                </div>
</div>