.Group-header {
    text-align: justify; 
}

.Group-header::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.Group-header > * {
  display: inline-block;
}

.Group-icon {
  vertical-align: super;
}