.TaskGroup-Header {
    line-height: 3rem;
}

.TaskGroup-GroupName {
    font-family: 'Roboto', sans-serif;
    color: #035c66 ;
    font-size: xx-large;
    word-wrap: break-word;
}

.TaskGroupList-Tile {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
}

input, .TaskGroupList-Tile > *, .TaskGroup-Task > *   {
    margin-top: 5px;
    margin-bottom: 5px;
}

.TaskGroupList-Tile {
    -webkit-transition: all 1s;
    transition: all 250ms;
}
.TaskGroup-TaskName {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    font-size: 2em;
    word-wrap: break-word;
    -webkit-transition: all 1s;
    transition: all 250ms;
}