<div class="col-sm-6 col-md-4">
    <div class="tile">
    <div class="Group-header">
        <h3 class="Group-name">{{$ctrl.taskGroup}}</h1>
    </div>
    <ol class="Task-list">
        <li class="Task" ng-class="[task.priority]" ng-repeat="task in $ctrl.tasks | filter: { group: $ctrl.taskGroup } track by $index">
            <p class="Task-name u-cursorPointer" ng-class="{'u-textCrossed' : task.complete}" ui-sref="app.task({id:task.taskId})">{{task.taskName}}</p>
            <i class="Task-remove-icon fa fa-trash fa-lg u-cursorPointer" 
                ng-click="$ctrl.deleteTask(task)" aria-hidden="true"></i>
        </li>
    </ol>
    <div ng-if="$ctrl.showNewTaskInput">
        <form class="form" name="newTaskForm" ng-submit="$ctrl.addTask(newTask, $ctrl.taskGroup); $ctrl.showNewTaskInput = !$ctrl.showNewTaskInput">
            <label for="taskname-texarea">Title:</label>
            <textarea id="taskname-texarea" class="form-control" type="text" ng-model="newTask.taskName" required>
            </textarea>
            <label for="person-input">Person assingned:</label>
            <input id="person-input" class="form-control" type="text" ng-model="newTask.person">
            <div>
                <p><strong>Due date:</strong> {{newTask.due | date:'fullDate'}}</p>
                <p><i class="fa fa-calendar fa-2x cursor-pointer" 
                    ng-click="$ctrl.opened = !$ctrl.opened" aria-hidden="true"></i>
                </p>
                <div uib-datepicker-popup ng-model="newTask.due" is-open="$ctrl.opened" alt-input-formats="altInputFormats">
                </div>
                <label for="priority-select">Priority:</label>
                <select id="priority-select" class="form-control" ng-model="newTask.priority">
                    <option>high</option>
                    <option>middle</option>
                    <option>low</option>
                </select>
            </div>
            <button class="btn btn-default" type="submit">Add</button>
        </form>
    </div>
    <div class="Group-controls">
        <button class="btn btn-default" ng-click="$ctrl.showNewTaskInput = !$ctrl.showNewTaskInput">New task</button>
        <button class="btn btn-default" ng-click="$ctrl.deleteGroup($ctrl.taskGroup)">Delete group</button>
    </div>
</div>
</div>