.TaskGroupList-Tile {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 5px solid #888;
    color: #000;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;  
}

.TaskGroupList-Tile > * {
    padding: 10px;
}

.form-control, .btn {
    border-radius: 0;
}

.TaskGroupList-Tile > .btn {
    margin: 10px;
} 

.TaskGroup-Header {
    line-height: 2rem;
}

.TaskGroup-GroupName {
    font-size: 2rem;
    font-weight: bold;
    color: #000 ;
}

.u-icon {
    font-size: 2rem;
}

.TaskGroup-Task {
    -webkit-transition: 500ms background-color;    
    transition: 500ms background-color;
}

.TaskGroup-Task:hover {
    background-color: #ccc;
}
   
.TaskGroup-TaskName {
    font-size: 2rem;
}
