.TaskGroup-GroupName {
    color: cadetblue;
}

.TaskGroupList-Tile {
    background-color: #f3ff9c;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px dimgrey;
    border-radius: 5px;
}

input, .TaskGroupList-Tile > *, .TaskGroup-Task > *   {
    margin-top: 5px;
    margin-bottom: 5px;
}

.TaskGroup-TaskName {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    word-wrap: break-word;
}

.cursor-pointer {
    cursor: pointer;
}