<div class="container">
    <div class="row">
        <div class="SingleTask col-sm-6 col-sm-offset-3" ng-class="$ctrl.task.complete ? 'completed' : 'uncompleted'">
            <div class="EditButton">
                <button class="btn btn-danger" ng-click="$ctrl.edition = !$ctrl.edition">Edit</button>
            </div>
            <button class="btn btn-default Btn-back u-cursorPointer" ui-sref="app.home">
                <i class="fa fa-chevron-left cursor-pointer" aria-hidden="true"></i>
                Back to home page
            </button>
                <p class="Task-header" ng-click="$ctrl.task.complete = !$ctrl.task.complete" >
                    <i class="u-cursorPointer fa" 
                        ng-class="{ 'fa-circle-o': !$ctrl.task.complete, 'fa-check-circle-o': $ctrl.task.complete }" 
                        aria-hidden="true"></i>
                    <span ng-class="{'u-textCrossed' : $ctrl.task.complete}">{{$ctrl.task.taskName}}</span>
                </p>
                <div class="Task-description">
                    <p>Create: <strong>{{$ctrl.task.create}}</strong></p>
                    <p>Due to: <strong>{{$ctrl.task.due | date:'fullDate'}}</strong></p>
                    <p>Priority: <strong>{{$ctrl.task.priority}}</strong></p>
                    <p>
                        Person assigned:
                        <input class="Person-input" type="text" ng-model="$ctrl.task.person" ng-disabled="!$ctrl.edition">
                    </p>
                </div>
                <div class="row" ng-if="$ctrl.edition">
                    <div class="col-sm-12 column">
                        <p><strong>New task title (can't be blank):</strong></p>
                        <textarea class="Name-input--edition form-control"
                        ng-minlength="3"
                        ng-blur="$ctrl.changeTasktitle(newTaskName)"
                        type="text" ng-model="newTaskName" ng-if="$ctrl.edition">
                        </textarea>
                    </div>
                    <div class="col-sm-6 column"> 
                        <label for="priority">Set priority:</label>
                        <select class="form-control" id="priority" ng-model="$ctrl.task.priority">
                            <option ng-repeat="priorityLevel in $ctrl.priorities">{{priorityLevel}}</option>
                        </select>
                    </div>
                <div class="col-sm-6 column">
                    <label for="group">Change group</label>
                    <select class="form-control" id="group" ng-model="$ctrl.task.group">
                        <option ng-repeat="group in $ctrl.taskGroups">{{group}}</option>
                    </select>
                    </div>
                    <div class="DatePicker col-sm-12 column">
                        <p>Change due date: </p>
                        <div uib-datepicker ng-model="$ctrl.task.due"></div>
                    </div>
                </div>
            <hr>
                <p>Comments: </p>
                <div ng-repeat="comment in $ctrl.task.comments track by $index">
                    <p><i class="fa fa-user" aria-hidden="true"></i> {{comment.author}}:</p>
                    <p class="Comment"><i class="fa fa-comments" aria-hidden="true"></i> {{comment.comment}}</p>
                </div>
                <button class="btn btn-primary" ng-click="$ctrl.toComment = !$ctrl.toComment">Add comment
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </button>
            <form name="com-form" ng-submit="$ctrl.addComent(commentAuthor, commentText)" class="NewComment form" ng-if="$ctrl.toComment">
                <label>
                    <p>Author:</p> 
                    <input name="com-author" class="form-control text-input" ng-minlength="3" ng-required type="text" ng-model="commentAuthor"/></label>
                <label>
                    <p>Comment:</p>
                    <input name="com" class="form-control text-input" ng-minlength="3" ng-required type="text" ng-model="commentText"/></label>
                <button class="btn btn-default" ng-disabled="com-form.$invalid" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>