.SingleTask {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    padding: 15px;
    margin-bottom: 25px;
}

.SingleTask.completed {
    background-color: #E6FFFF;
}

.SingleTask.uncompleted {
    background-color: #FFF2EA;
}

.SingleTask input[type="text"], 
.SingleTask select, 
.SingleTask textarea, 
.SingleTask button {
    border-radius: 0;
}

.Btn-back {
    display: block;
    width: 100%;
    background-color: transparent;
    transition: background-color 5s ease-in;
}

.Btn-back:hover {
    background-color: #888;
}


.Task-header {
    margin: 10px 0;
    font-size: 2rem;
}

.Person-input:disabled {
    border: none;
    background: transparent;
    font-weight: bold;
}

.Comment {
    padding: 10px;
    background-color: lightgray;
}

.Task--edition {
    border: 1px solid #888;
}

.DatePicker {
    margin-top: 15px;
}

.EditButton {
    position: absolute;
    z-index: 1010;
    right: 0;
    bottom: 15px;
    margin-right: 15px;
}

.Complete-Icon {
    vertical-align: top;
}

.NewComment {
    margin: 5px 0;
}

.Name-input--edition {
    resize: none;
}