.SingleTaks-TaskContainer {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    padding: 15px;
    margin-bottom: 25px;
}

.SingleTaks-TaskContainer.completed {
    background-color: lightcyan;
}

.SingleTaks-TaskContainer.uncompleted {
    background-color: lightyellow;
}

.NavigateBack-Icon {
    margin-bottom: 10px;
}

.SingleTask-Name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.EditionInput {
    border: none;
    background: transparent;
}

.SingleTask-CommentBox {
    padding: 10px;
    background-color: lightgray;
}

.DatePicker {
    margin-top: 15px;
}

.EditButton {
    position: absolute;
    z-index: 1010;
    right: 0;
    bottom: 15px;
    margin-right: 15px;
}

.Complete-Icon {
    vertical-align: top;
}

.SingleTask-Name {
    -webkit-transition: color 500ms;
    transition: color 500ms;
}

.NewComment-Wrapper {
    margin: 5px 0;
}

textarea {
    resize: none;
}